.hero {
    display: flex;
    flex: 1 1 auto;
    background-color: var(--color-main-bg);
    padding: 0px clamp(1rem, -0.2324rem + 5.2582vw, 4.5rem);
}

.nameHeading {
    color: var(--color-hero-title);
    font-family: var(--font-family-hero);
    font-size: var(--fs-name-heading);
    font-weight: 300;
    line-height: 1;
}

.title {
    color: var(--color-on-main-bg);
    font-family: var(--font-family-standalone);
    font-size: var(--fs-title);
    font-weight: 600;
    line-height: 1;
}

.profileLinksContainer {
    display: flex;
    align-items: center;
    gap: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
    padding: 1rem 0px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentsBlock {
    flex: 2 0 auto;
}

.imageBlock {
    flex: 1 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.imageContainer {
    width: clamp(14rem, -2.6667rem + 29.6296vw, 24rem);
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 5rem;
}

.heroImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}

