.contentContainer {
    display: flex;
    background-color: var(--color-main-bg);
    flex: 2 1 auto;
    padding: 1rem;
}

.content {
    flex: 1;
    background-color: var(--color-secondary-bg);
    color: var(--color-on-secondary-bg);
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
}


.blockHeader {
    font-family: var(--font-family-standalone);
    font-weight: 600;
    font-size: var(--fs-content-block-header);
}

.stackList {
    display: flex;
}

.tileContainer {
    height: 100%;
}

.projectsBlock {
   flex: 1 0 auto;
}

.projectsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    flex: 1 0 auto;
}

.cardContainer {
    height: 100%;
}