.contentContainer {
    display: flex;
    background-color: var(--color-main-bg);
    flex: 2 1 auto;
    padding: 1rem;
}

.content {
    flex: 1;
    background-color: var(--color-secondary-bg);
    color: var(--color-on-secondary-bg);
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
}


.blockHeader {
    font-family: var(--font-family-standalone);
    font-weight: 600;
    font-size: var(--fs-content-block-header);
}

.stackList {
    display: flex;
    gap: 0.5rem;
}

.projectsBlock {
   flex: 1 0 auto;
}

.projectsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    flex: 1;
}

.cardContainer {
    height: 100%;
}


/* Tablet View */
@media (min-width: 600px) and (max-width: 1024px) {
  .stackList {
    flex-wrap: wrap;
  }

  .projectsList {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* Mobile View */
@media (max-width: 600px) {
    .stackList {
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: center;
  }

  .tileContainer  {
    gap: 0.5rem;
    padding: 0.5rem;
  }

    .projectsList {
    grid-template-columns: 1fr;
  }
}

