.header {
    flex: 0 1 auto;
    background-color: var(--color-main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem clamp(1rem, -0.2324rem + 5.2582vw, 4.5rem);
    padding-bottom: 0;
}

.block {
    display: flex;
    align-items: center;
    flex: 1;
}

.logoBlock {
    justify-content: flex-start;
}

.navBlock {
    display: none;
}

.ctaBlock {
    justify-content: flex-end;
}

.menuBlock {
    display: none;
    justify-content: flex-end;
}

.menuIcon {
    height: var(--btn-lg-min-height);
    width: var(--btn-lg-min-height);
    color: var(--color-accent-dark)
}