.header {
    background-color: var(--color-main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 104px;
    padding: 16px 72px;
}

.block {
    display: flex;
    align-items: center;
    flex: 1;
}

.logoBlock {
    justify-content: flex-start;
}

.navBlock {
    display: none;
}

.ctaBlock {
    justify-content: flex-end;
}

.menuBlock {
    display: none;
    justify-content: flex-end;
}

.menuIcon {
    height:48px;
    width: auto;
    color: var(--color-accent-dark)
}