@import "modern-normalize";

ul, ol {
    list-style: none;
}

html, body, #root  {
  height: 100%;
  background-color: var(--color-main-bg);
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Colors */
:root {
    --color-main-bg: #F2E4D8;
    --color-secondary-bg: #A69383;
    --color-accent-dark: #4F7D86;
    --color-accent-light: #D8EEF2;
    --color-card-bg: #FFFEFC;
    --color-on-main-bg: #3B2F2F;
    --color-accent-dark-hover: #3e6b75;
    --color-accent-light-hover: #cfe9ed;
    --color-on-secondary-bg: #FFFFFF;
    --color-on-accent-dark: #FFFFFF;
    --color-on-accent-light: #1F3A40;
    --color-on-card-bg: #3B2F2F;
    --color-hero-title: #000000;
    --color-border-on-secondary-bg: #8C7763;
    --color-border-on-card: #C1B2A1;
}

/* Typography */
:root {
    --font-family-hero: "Micro 5", sans-serif;
    --font-family-standalone: "JetBrains Mono", monospace;
    --font-family-body: "Roboto Mono", monospace;
    --fs-name-heading: clamp(4.3rem, 2.9972rem + 5.5587vw, 8rem);
    --fs-title: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
    --fs-content-block-header: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem)
} 

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 120rem;
}


@media (min-width: 1920px) {
  .App {
    margin: 0 auto;
  }
}