@import "modern-normalize";

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style: none;
    padding: 0px;

}

html, body, #root  {
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
}

:root {
    --color-main-bg: #F2E4D8;
    --color-secondary-bg: #A69383;
    --color-accent-dark: #4F7D86;
    --color-accent-light: #D8EEF2;
    --color-card-bg: #FFFEFC;
    --color-on-main-bg: #3B2F2F;
    --color-accent-dark-hover: #3e6b75;
    --color-accent-light-hover: #cfe9ed;
    --color-on-secondary-bg: #FFFFFF;
    --color-on-accent-dark: #FFFFFF;
    --color-on-accent-light: #1F3A40;
    --color-on-card-bg: #3B2F2F;
    --color-hero-title: #000000;
    --color-border-on-secondary-bg: #8C7763;
    --color-border-on-card: #C1B2A1;
    --font-family-hero: "Micro 5", sans-serif;
    --font-family-standalone: "JetBrains Mono", monospace;
    --font-family-body: "Roboto Mono", monospace;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-main-bg);
}
